<h2>{{subject}}</h2>
<table>
    <tr class="mainTr">
        <td>_id</td>
        <td>model</td>
        <td>ubezpieczony</td>
        <td>benzyna</td>
        <td>uszkodzony</td>
        <td>naped4x4</td>
    </tr>
    {{#each items}}
    <tr>
        <td>{{_id}}</td>
        <td>{{model}}</td>
        <td>{{ubezpieczony}}</td>
        <td>{{benzyna}}</td>
        <td>{{uszkodzony}}</td>
        <td>{{naped4x4}}</td>
        <td><button onClick={fetch()} class="info">INFO</button></td>
    </tr>
    {{/each}}
</table>