<tr>
  <td>{{category}}</td>
  <td>{{title}}</td>
  <td>{{avg}}</td>
  <td>
    <a href="/addOpinion?id={{@key}}">Dodaj opinie</a>
  </td>
  <td>
    <a href="/opinions?id={{@key}}">Opinie</a>
  </td>
  <td>
    <a href="/info?id={{@key}}">Info</a>
  </td>
</tr>