<tr>
  <td>{{category}}</td>
  <td>{{title}}</td>
  <td>{{avg}}</td>
  <td><a href="/addOpinion?id={{@key}}">Dodaj opinie</a></td>
  <td><a href="/opinions?id={{@key}}">opinie</a></td>
  <td><a href="/info?id={{key}}">info</a></td>
</tr>